USE [master]
GO
/****** Object:  Database [Antheap]    Script Date: 12.07.2022 22:31:34 ******/
CREATE DATABASE [Antheap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Antheap', FILENAME = N'E:\SQL\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Antheap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Antheap_log', FILENAME = N'E:\SQL\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Antheap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Antheap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Antheap]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12.07.2022 22:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [nvarchar](26) NOT NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12.07.2022 22:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NIP] [nvarchar](10) NULL,
	[StatusVAT] [nvarchar](20) NULL,
	[Regon] [nvarchar](9) NULL,
	[Pesel] [nvarchar](11) NULL,
	[KRS] [nvarchar](10) NULL,
	[ResidenceAddress] [nvarchar](max) NULL,
	[WorkingAddress] [nvarchar](max) NULL,
	[RegistrationLegalDate] [date] NULL,
	[RegistrationDenialDate] [date] NULL,
	[RegistrationDenialBasis] [nvarchar](max) NULL,
	[RestorationDate] [date] NULL,
	[RestorationBasis] [nvarchar](max) NULL,
	[RemovalDate] [date] NULL,
	[RemovalBasis] [nvarchar](max) NULL,
	[HasVirtualAccounts] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 12.07.2022 22:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Pesel] [nvarchar](11) NULL,
	[NIP] [nvarchar](10) NULL,
	[CompanyId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_CompanyId]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_CompanyId]
GO
USE [master]
GO
